<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find husky_description)/urdf/husky.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

  <!-- visualizzazione modello in rviz -->
  <arg name="rvizconfig" value="$(find husky_atom)/rviz/husky_atom_config.rviz" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="default" required="true" />    -->

</launch>