<launch>

    <!-- Run the map server -->
    <arg name="map_file" default="$(find husky_atom)/map/map.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find husky_atom)/navigation/husky_atom_amcl.launch" />

    <!--- Run Move Base -->
    <include file="$(find husky_atom)/navigation/move_base_dynamic.launch" />

</launch>
