<?xml version="1.0"?>

<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
    </include>

    <arg name="model" default="$(find husky_atom)/urdf/plastic_wt.urdf" /> 
    <param name="robot_description" textfile="$(arg model)" /> 

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>
    <arg name="robot_namespace" default="/"/>

        <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model model
              -robot_namespace $(arg robot_namespace)" />

    <node name="rviz" pkg="rviz" type="rviz" args="default" required="true" />

</launch>